html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
}

.Artifacts-header {
  position: relative;
}

.artifact-progress {
  position: sticky;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 50px;
  background-color: var(--bg-color);
  z-index: 1000;
}

.artifact-progress-heading {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.artifact-progress-bar {
  height: 5px;
  background-color: var(--secondary-color);
}

.artifact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.artifact-wrapper {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.artifact-image {
  flex: 1;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.artifact-image img {
  width: 100%;
  max-height: 80%;
  object-fit: cover;
  border-radius: 5px;
}

.artifact-image .artifact-caption {
  text-align: center;
  font-size: 0.8rem;
  color: var(--grayed-color);
  padding-top: 1rem;
}

.artifact-text {
  flex: 3;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.artifact-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.artifact-title-sub {
  font-size: 1rem;
  font-family: Consolas, monaco, monospace;
}

.artifact-title-hr {
  margin: 0;
  margin-bottom: 1rem;
  border-top: 2px solid var(--secondary-color);
  opacity: 1;
}

.artifact-ref {
  font-size: 0.8rem;
}

.artifact-ref ol {
  counter-reset: ref-counter;
  padding-left: 1rem;
}

.artifact-ref ol li {
  list-style: none;
}

.artifact-ref ol li:before {
  content: "[" counter(ref-counter) "] ";
  counter-increment: ref-counter;
  font-family: Consolas, monaco, monospace;
}

.artifact-ref ol li span {
  margin-right: 0.4rem;
}
